Repository semaphoreio/semaphore, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DamjanBecirovic, @lucaspin, @radwo, @dexyk, @hamir-suspect, @VeljkoMaksimovic, @skipi, @darkofabijan, @forestileao

Add migration for idp group mapping
  guard/priv/repo/migrations/202503061238514_add_group_mapping_table.exs
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Extract attributes from SAML requests
  ee/rbac/lib/rbac/okta/saml/api.ex
  ee/rbac/lib/rbac/okta/saml/payload_parser.ex
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

debug logs
  ee/rbac/lib/rbac/okta/saml/payload_parser.ex
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Add saml_jit role binding type
  ee/rbac/lib/rbac/okta/saml/jit_provisioner/add_user.ex
  ee/rbac/lib/rbac/repo/saml_jit_user.ex
  ee/rbac/lib/rbac/repo/subject_role_binding.ex
  ee/rbac/priv/repo/migrations/20250903233404_add_saml_jit_to_role_binding_type_enum.exs
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Create saml jit users table
  ee/rbac/lib/rbac/repo/saml_jit_user.ex
  ee/rbac/priv/repo/migrations/20250903231134_create_saml_jit_users.exs
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Construct display name for saml users
  ee/rbac/lib/rbac/okta/saml/api.ex
  ee/rbac/lib/rbac/okta/saml/jit_provisioner/add_user.ex
  ee/rbac/lib/rbac/repo/saml_jit_user.ex
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Add db migrations to guard repo
  guard/priv/repo/migrations/202509032311344_create_saml_jit_users.exs
  guard/priv/repo/migrations/202509032334044_add_saml_jit_to_role_binding_type_enum.exs
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Create saml jit user
  ee/rbac/lib/rbac/okta/saml/api.ex
  ee/rbac/lib/rbac/repo/saml_jit_user.ex
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Add saml jit as valid creation source
  ee/rbac/lib/rbac/front_repo/user.ex
  ee/rbac/lib/rbac/okta/saml/api.ex
  guard/lib/guard/front_repo/user.ex
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Fetch scim or saml user on auth requests
  ee/rbac/lib/rbac/okta/saml/api.ex
  ee/rbac/lib/rbac/okta/saml/jit_provisioner/add_user.ex
  ee/rbac/lib/rbac/repo/saml_jit_user.ex
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Generate new protos
  ee/rbac/lib/internal_api/rbac.pb.ex
  front/lib/internal_api/instance_config.pb.ex
  front/lib/internal_api/rbac.pb.ex
  guard/lib/internal_api/instance_config.pb.ex
  guard/lib/internal_api/rbac.pb.ex
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin, @radwo, @hamir-suspect, @skipi

Mark saml user as created
  ee/rbac/lib/rbac/repo/saml_jit_user.ex
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin

Different tooltip for saml provisioned users
  ee/rbac/lib/rbac/grpc_servers/rbac_server.ex
  front/lib/front_web/views/people_view.ex
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin, @radwo, @hamir-suspect, @skipi

refactor(front): set proper timestamps for workflow pipeline
  front/lib/front/utils.ex
  front/lib/front_web/templates/layout/job.html.eex
  front/lib/front_web/templates/layout/workflow.html.eex
  front/test/front/utils_test.exs
Owners: @radwo, @hamir-suspect, @skipi

fix: test
  front/test/front/utils_test.exs
Owners: @radwo, @hamir-suspect, @skipi

refactor(front): remove all time-ago tags
  front/lib/front_web/templates/dashboard/_widget_list_pipelines.html.eex
  front/lib/front_web/templates/dashboard/partials/_pipelines.html.eex
  front/lib/front_web/templates/dashboard/partials/_workflow.html.eex
  front/lib/front_web/templates/job/test_results.html.eex
  front/lib/front_web/templates/pipeline/_switch.html.eex
  front/lib/front_web/templates/project/_branches.html.eex
  front/lib/front_web/templates/workflow/status/_interactive_pipeline.html.eex
  front/lib/front_web/templates/workflow/status/_pipeline.html.eex
  front/lib/front_web/views/deployments_view.ex
  front/lib/front_web/views/schedulers_view.ex
  front/lib/front_web/views/switch_view.ex
  front/test/front_web/views/switch_view_test.exs
Owners: @radwo, @hamir-suspect, @skipi

refactor(front): remove time elements library
  front/assets/js/app.js
  front/assets/js/custom_types/time-elements.d.ts
  front/assets/package-lock.json
  front/assets/package.json
Owners: @radwo, @hamir-suspect, @skipi

refactor(front): remove comma after weekday
  front/lib/front/utils.ex
  front/test/front/utils_test.exs
Owners: @radwo, @hamir-suspect, @skipi

Revert "refactor(front): remove all time-ago tags"
  front/lib/front_web/templates/dashboard/_widget_list_pipelines.html.eex
  front/lib/front_web/templates/dashboard/partials/_pipelines.html.eex
  front/lib/front_web/templates/dashboard/partials/_workflow.html.eex
  front/lib/front_web/templates/job/test_results.html.eex
  front/lib/front_web/templates/pipeline/_switch.html.eex
  front/lib/front_web/templates/project/_branches.html.eex
  front/lib/front_web/templates/workflow/status/_interactive_pipeline.html.eex
  front/lib/front_web/templates/workflow/status/_pipeline.html.eex
  front/lib/front_web/views/deployments_view.ex
  front/lib/front_web/views/schedulers_view.ex
  front/lib/front_web/views/switch_view.ex
  front/test/front_web/views/switch_view_test.exs
Owners: @radwo, @hamir-suspect, @skipi

refactor(front): use own library to deal with time
  front/assets/js/app.js
  front/assets/js/time_ago.js
Owners: @radwo, @hamir-suspect, @skipi

put on prefix for older dates
  front/assets/js/time_ago.js
  front/lib/front/utils.ex
  front/test/front/utils_test.exs
Owners: @radwo, @hamir-suspect, @skipi

refactor(front): replace all relative-times to semaphore time-ago
  front/assets/js/activity_monitor/items/item.js
  front/assets/js/agents/components/activity_item.tsx
  front/assets/js/custom_types/time_ago.d.ts
  front/lib/front_web/templates/audit/index.html.eex
  front/lib/front_web/templates/audit/streaming/_history.html.eex
  front/test/front/utils_test.exs
Owners: @radwo, @hamir-suspect, @skipi

fix(front): make all dots non-selectable
  front/assets/css/app-semaphore.css
  front/assets/js/agents/pages/self_hosted/agent.tsx
  front/assets/js/self_hosted_agents/poller.js
  front/assets/js/test_results/components/nav_bar.tsx
  front/assets/js/test_results/components/test_suite.tsx
  front/assets/js/test_results/components/zero_state.tsx
  front/lib/front_web/templates/self_hosted_agent/show/_agents.html.eex
Owners: @radwo, @hamir-suspect, @skipi

feat(front): UI for saml autoprovisioning and group mapping (#109)
  ee/rbac/lib/internal_api/guard.pb.ex
  ee/rbac/lib/internal_api/okta.pb.ex
  ee/rbac/lib/internal_api/organization.pb.ex
  ee/rbac/lib/internal_api/projecthub.pb.ex
  ee/rbac/lib/internal_api/rbac.pb.ex
  ee/rbac/lib/internal_api/user.pb.ex
  ee/rbac/lib/rbac/grpc_servers/okta_server.ex
  ee/rbac/lib/rbac/okta/idp_group_mapping.ex
  ee/rbac/lib/rbac/okta/integrations.ex
  ee/rbac/lib/rbac/repo/idp_group_mapping.ex
  ee/rbac/lib/rbac/repo/okta_integrations.ex
  ee/rbac/priv/repo/migrations/20250306123851_add_group_mapping_table.exs
  ee/rbac/test/rbac/grpc_servers/okta_server_test.exs
  ee/rbac/test/rbac/okta/saml/api_test.exs
  ee/rbac/test/rbac/okta/saml/payload_parser_test.exs
  ee/rbac/test/rbac/okta/scim/api_test.exs
  ee/rbac/test/rbac/okta/scim/provisioner_test.exs
  front/assets/js/app.js
  front/assets/js/organization_okta/index.tsx
  front/lib/front/models/okta_integration.ex
  front/lib/front_web/controllers/organization_okta_controller.ex
  front/lib/front_web/router.ex
  front/lib/front_web/templates/organization_okta/form.html.eex
  front/lib/front_web/templates/organization_okta/group_mapping.html.eex
  front/lib/front_web/templates/organization_okta/show/_integration.html.eex
  front/lib/front_web/templates/organization_okta/token.html.eex
  front/lib/front_web/views/organization_okta_view.ex
  front/lib/internal_api/okta.pb.ex
  front/test/support/fake_services.ex
  front/test/support/stubs.ex
  front/test/support/stubs/feature.ex
  front/test/support/stubs/groups.ex
  front/test/support/stubs/okta.ex
  front/test/support/stubs/rbac.ex
  guard/priv/repo/migrations/202503061238514_add_group_mapping_table.exs
Owners: @VeljkoMaksimovic, @forestileao, @lucaspin, @radwo, @hamir-suspect, @skipi

.github/CODEOWNERS:

* @DamjanBecirovic @lucaspin @radwo
/artifacthub/ @lucaspin @radwo @dexyk
/ee/audit/ @radwo @hamir-suspect @dexyk
/auth/ @radwo @VeljkoMaksimovic @lucaspin
/badge/ @radwo @VeljkoMaksimovic @skipi
/branch_hub/ @radwo @skipi @lucaspin
/dashboardhub/ @radwo @hamir-suspect
/front/ @radwo @hamir-suspect @skipi
/github_hooks/ @radwo @VeljkoMaksimovic @skipi @darkofabijan
/github_notifier/ @radwo @VeljkoMaksimovic @hamir-suspect
/ee/gofer/ @DamjanBecirovic @dexyk
/guard/ @VeljkoMaksimovic @forestileao @lucaspin
/hooks_processor/ @radwo @hamir-suspect @DamjanBecirovic
/hooks_receiver/ @radwo @hamir-suspect @DamjanBecirovic
/keycloak/ @radwo @skipi @hamir-suspect
/loghub2/ @lucaspin @hamir-suspect @DamjanBecirovic
/notifications/ @hamir-suspect @radwo @VeljkoMaksimovic
/periodic_scheduler/ @DamjanBecirovic @dexyk
/plumber/ @DamjanBecirovic @dexyk
/ee/pre_flight_checks/ @DamjanBecirovic @VeljkoMaksimovic
/projecthub-rest-api/ @hamir-suspect @radwo @lucaspin
/projecthub/ @skipi @radwo @hamir-suspect
/public-api-gateway/ @hamir-suspect @radwo
/public-api/v2 @hamir-suspect @DamjanBecirovic
/public-api/v1alpha @hamir-suspect @DamjanBecirovic
/rbac/ @VeljkoMaksimovic @radwo @lucaspin
/ee/rbac/ @VeljkoMaksimovic @forestileao @lucaspin
/rbac/ @VeljkoMaksimovic @forestileao @lucaspin
/repohub/ @radwo @skipi @lucaspin
/repository_hub/ @skipi @radwo @hamir-suspect
/secrethub/ @hamir-suspect @lucaspin @VeljkoMaksimovic
/self_hosted_hub/ @lucaspin @dexyk @VeljkoMaksimovic
/statsd/ @hamir-suspect @dexyk @DamjanBecirovic
/ee/velocity/ @skipi @dexyk
/zebra/ @lucaspin @radwo @hamir-suspect
